<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>7686C74A-A33F-49C2-8231-40F1569A481A</key>
		<array/>
		<key>F8E6662C-D7F5-4BC5-B104-6EB0ACE70E48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7686C74A-A33F-49C2-8231-40F1569A481A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Giulio Mecocci</string>
	<key>description</key>
	<string>Toggles the state of the provided vpn</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ToggleVPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"
	tell current location of network preferences
		set VPNservice to service q
		if exists VPNservice then set isConnected to connected of current configuration of VPNservice
		if isConnected is false then
			connect VPNservice
		else
			disconnect VPNservice
		end if
	end tell
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7686C74A-A33F-49C2-8231-40F1569A481A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>script</key>
				<string>python vpnList.py {query}</string>
				<key>subtext</key>
				<string>By default searches for vpn connections that contain "vpn" (case insensitive) in their name</string>
				<key>title</key>
				<string>VPN List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F8E6662C-D7F5-4BC5-B104-6EB0ACE70E48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7686C74A-A33F-49C2-8231-40F1569A481A</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>F8E6662C-D7F5-4BC5-B104-6EB0ACE70E48</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
